<div class="alert alert-info alert-dismissible center" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   <p><marquee><strong>Attention!!! </strong>Click on an item to buy.</marquee></p>
</div>
<div class="jumbotron">
  <h2>Locally Made Hand Crafted Item</h2>
  <h3>Discover items of a kind</h3>
</div>
<div class="center">
<div class="row">
<% @listings.each do |listing| %>
  <div class="col-md-3">
   <div class="thumbnail">
   <%= link_to image_tag(listing.image.url), listing %>
      <div class="caption">
        <h3><%= listing.name %></h3>
        <p>Gh &#8373; <%= listing.price %></p>
         <p><%= "Sold by: #{listing.user.name}" %></p>
        
      </div>
    </div>  
  </div>
<% end %>
</div>
</div>
<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
